project:
  type: website
  output-dir: docs

website:
  page-navigation: false

format:
  html:
    css: styles.css
    toc: false
    smooth-scroll: true
    page-layout: full
    favicon: LogoM.jpg
